* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  font-family: 'Raleway', sans-serif;
}
.row {
  margin: 0;
  padding: 0;
  max-width: 100%;
}
h2 {
  font-family: 'Lobster', cursive;
  font-size: 4em;
  display: inline;
  color: #5c5c5c;
}
h3 {
  font-family: 'Lobster', cursive;
  font-size: 2.5em;
  color: #5c5c5c;
}
.sides {
  height: auto;
  min-height: 100vh;
  max-width: 100%;
  padding-top: 3vh;
}
p {
  font-size: 1.5em;
}
@media screen and (max-width: 1300px) {
  p {
    font-size: 1em;
  }
}
ul li {
  font-size: 1.5em;
  color: #5c5c5c;
}
@media screen and (max-width: 1300px) {
  ul li {
    font-size: 1.3em;
  }
}
#logoHolder {
  height: 80vh;
  display: block;
  text-align: center;
}
#logoHolder img {
  height: 80vh;
  width: auto;
  display: inline;
}
#firstLeftSide {
  position: fixed;
  margin: 0px;
  background-color: #8dc18c;
  text-align: center;
  height: auto;
  min-height: 100vh;
  max-width: 100%;
  padding-top: 3vh;
  padding-top: 0vh;
}
@media screen and (max-width: 1001px) {
  #firstLeftSide {
    position: static;
  }
}
#firstLeftSide #logoPlaceHolder {
  text-align: center;
  padding-top: 15%;
  font-size: 4em;
  font-family: 'Lobster', cursive;
  color: #5c5c5c;
  width: 50vh;
  height: 50vh;
  border-radius: 50%;
  background-color: floralwhite;
  margin-left: auto;
  margin-right: auto;
}
#firstLeftSide #contactButton {
  display: block;
  font-size: 4em;
  color: floralwhite;
  font-family: 'Lobster', cursive;
  text-shadow: 2px 3px 3px #757575;
  transition: all .75s;
  outline: none;
  cursor: pointer;
}
#firstLeftSide #contactButton:hover {
  color: #e8c098;
  text-decoration: none;
}
#firstLeftSide #leftTop {
  height: 90%;
  width: 100%;
}
#firstLeftSide #leftBot {
  bottom: 0;
  text-align: center;
}
#firstLeftSide #leftBot a {
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  text-decoration: none;
  color: white;
}
#firstLeftSide #leftBot .space {
  color: white;
  font-size: 3em;
  margin: 0 .5vw 0 .5vw;
}
.scroller {
  height: 100vh;
}
#firstRightSide {
  background-color: white;
  height: auto;
  min-height: 100vh;
  max-width: 100%;
  padding-top: 3vh;
}
#firstRightSide .topHead {
  text-align: center;
  margin-bottom: 3vh;
}
#firstRightSide .rightText {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
#firstRightSide .rightText p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  color: #5c5c5c;
}
@media screen and (max-width: 1300px) {
  #firstRightSide .rightText p {
    font-size: 1.3em;
  }
}
#amenitiesPicHolder {
  height: 35vh;
  border: solid 2px #5c5c5c;
  border-radius: 10px;
}
#floorText {
  height: auto;
  min-height: 15vh;
}
.floorPlanPlaceHolder {
  height: auto;
  min-height: 45vh;
}
.floorImageHolder {
  height: auto;
  min-height: 40vh;
  width: 100%;
  border: solid 2px #5c5c5c;
  border-radius: 15px;
  text-align: center;
}
.fpDetails {
  height: auto;
}
@media screen and (max-width: 1300px) {
  h2 {
    font-size: 3em;
  }
  h3 {
    font-size: 2.2em;
  }
}
