* {
  margin: 0px;
  padding: 0px;
  max-width: 100%;
  font-family: 'Raleway', sans-serif;
}
.row {
  margin: 0px;
  padding: 0px;
  max-width: 100%;
}
h2 {
  font-family: 'Lobster', cursive;
  font-size: 4em;
  display: inline;
  color: #5c5c5c;
}
h3 {
  font-family: 'Lobster', cursive;
  font-size: 2.5em;
  color: #5c5c5c;
}
.sides {
  height: auto;
  min-height: 100vh;
  max-width: 100%;
  padding-top: 3vh;
}
p {
  font-size: 1.5em;
}
ul li {
  font-size: 1.5em;
  color: #5c5c5c;
}
#firstLeftSide {
  position: fixed;
  padding: 5vh 0px 0px 0px;
  margin: 0px;
  background-color: #ff9183;
  text-align: center;
  height: auto;
  min-height: 100vh;
  max-width: 100%;
  padding-top: 3vh;
}
@media screen and (max-width: 901px) {
  #firstLeftSide {
    position: relative;
  }
}
#firstLeftSide #logoPlaceHolder {
  text-align: center;
  padding-top: 15%;
  font-size: 4em;
  font-family: 'Lobster', cursive;
  color: #5c5c5c;
  width: 50vh;
  height: 50vh;
  border-radius: 50%;
  background-color: floralwhite;
  margin-left: auto;
  margin-right: auto;
}
#firstLeftSide #contactButton {
  display: inline;
  font-size: 4em;
  color: floralwhite;
  font-family: 'Lobster', cursive;
  text-shadow: 2px 3px 3px #757575;
  transition: all .75s;
  outline: none;
  cursor: pointer;
}
#firstLeftSide #contactButton:hover {
  color: #e8c098;
  text-decoration: none;
}
#firstLeftSide #leftTop {
  height: 90%;
  width: 100%;
}
#firstLeftSide #leftBot {
  text-align: center;
  height: 10%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
#firstLeftSide #leftBot a {
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  text-decoration: none;
  color: white;
}
#firstLeftSide #leftBot .space {
  color: white;
  font-size: 3em;
  margin: 0 .5vw 0 .5vw;
}
.scroller {
  height: 100vh;
}
#firstRightSide {
  background-color: white;
  height: auto;
  min-height: 100vh;
  max-width: 100%;
  padding-top: 3vh;
}
#firstRightSide .topHead {
  text-align: center;
  margin-bottom: 3vh;
}
#firstRightSide .rightText {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
#firstRightSide .rightText p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  color: #5c5c5c;
}
#amenitiesPicHolder {
  height: 35vh;
  border: solid 2px #5c5c5c;
  border-radius: 10px;
}
#floorText {
  height: auto;
  min-height: 15vh;
}
.floorPlanPlaceHolder {
  height: auto;
  min-height: 45vh;
}
.floorImageHolder {
  height: a;
  min-height: 40vh;
  width: 100%;
  border: solid 2px #5c5c5c;
  border-radius: 15px;
  text-align: center;
}
.fpDetails {
  height: auto;
}
