* {
  margin: 0px;
  padding: 0px;
  max-width: 100%;

  font-family: 'Raleway', sans-serif;
}

.row {
  margin: 0px;
  padding: 0px;
  max-width: 100%;
}

@mainRed: #ff9183;
@mainGreen: #59c172;
@textGrey: #5c5c5c;
h2 {
  font-family: 'Lobster', cursive;
  font-size: 4em;
  display: inline;
  color: @textGrey;
}

h3 {
  font-family: 'Lobster', cursive;
  font-size: 2.5em;
  color: @textGrey;
}

.sides {
  height: 100vh;
  max-width: 100%;
  padding-top: 3vh;
}

p {
  font-size: 1.5em;
}

ul li {
  font-size: 1.5em;
  color: @textGrey;
}

#firstLeftSide {
  position: fixed;
  padding: 5vh 0px 0px 0px;
  margin: 0px;
  background-color: @mainRed;
  text-align: center;
  .sides;

  #logoPlaceHolder {
    text-align: center;
    padding-top: 15%;
    font-size: 4em;
    font-family: 'Lobster', cursive;
    color: @textGrey;
    width: 50vh;
    height: 50vh;
    border-radius: 50%;
    background-color: floralwhite;
    margin-left: auto;
    margin-right: auto;

  }
  #contactButton {
    display: inline;
    font-size: 4em;
    color: floralwhite;
    font-family: 'Lobster', cursive;
    text-shadow: 2px 3px 3px rgba(117, 117, 117, 1);

    transition: all .75s;
    outline: none;

    cursor: pointer;
  }
  #contactButton:hover {
    color: #e8c098;
    text-decoration: none;
  }
  #leftTop {
    height: 90%;
    width: 100%;
  }
  #leftBot {
    text-align: center;
    height: 10%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    a {
      font-family: 'Raleway', sans-serif;
      font-size: 2em;
      text-decoration: none;
      color: white;
    }
    .space {
      color: white;
      font-size: 3em;
      margin: 0 .5vw 0 .5vw;
    }

  }
}

.scroller {
  height: 100vh;
}

#firstRightSide {
  background-color: white;
  .sides;

  .topHead {
    text-align: center;
    margin-bottom: 3vh;
  }
  .rightText {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    p {
      font-family: 'Raleway', sans-serif;
      font-size: 1.5em;
      color: @textGrey;
    }

  }
}

#amenitiesPicHolder {
  height: 35vh;
  border: solid 2px @textGrey;
  border-radius: 10px;
}

#floorText {
  height: 15vh;
}

.floorPlanPlaceHolder {
  height: auto;
  min-height: 45vh;

}

.floorImageHolder {
  height: 40vh;
  width: 100%;
  border: solid 2px @textGrey;
  border-radius: 15px;
  text-align: center;
}
